<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Login - Otaku Calendar</title>

	<!--- CSS --->
	<link rel="stylesheet" href="../static/css/style.css" type="text/css" />


	<!--- Javascript libraries (jQuery and Selectivizr) used for the custom checkbox --->

	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="../static/js/selectivizr.js"></script>
		<noscript><link rel="stylesheet" href="../static/css/fallback.css" /></noscript>
	<![endif]-->

	</head>

	<body>
		<div id="container">
			<form action="welcome.html">
				<div class="login">LOGIN</div>
				<div class="username-text">Email:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					{{ form.email }}
					<!-- <input type="text" name="username" value="" /> -->
				</div>
				<div class="password-field">
					{{ form.password }}
					<!-- <input type="password" name="password" value="" /> -->
				</div>
				{{ form.remember_me(id="remember-me") }}
				<label for="remember-me">Remember me</label>
				<!-- <input type="checkbox" name="remember-me" id="remember-me" /><label for="remember-me">Remember me</label> -->
				<div class="forgot-usr-pwd">Forgot <a href="#">password</a>?</div>
				<input type="submit" name="submit" value="GO" />
			</form>
		</div>
		<div id="footer">
			&#9400;Otaku Calendar Management Platform
		</div>
	</body>
</html>
