<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th class="span1">
				ID
			</th>
			<th class="span5">
				GOOD
			</th>
			<th class="span5">
				BAD
			</th>
			<th class="span1">
				ACTION
			</th>
		</tr>
	</thead>
	<tbody>
	{% for entry in entries %}
		<tr>
			<td>
				{{ entry.id }}
			</td>
			<td>
				{{ entry.good }}
			</td>
			<td>
				{{ entry.bad }}
			</td>
			<td>
				<a href="{{ url_for('edit_entry', id=entry.id) }}" class="view-link">Edit</a>
				<span> </span>
				<a href="{{ url_for('del_entry', id=entry.id) }}" class="view-link">Delete</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>