{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th class="span2">
				Username
			</th>
			<th class="span4">
				Email
			</th>
			<th class="span4">
				Register Time
			</th>
			<th class="span2">
				ACTION
			</th>
		</tr>
	</thead>
	<tbody>
	{% for user in users %}
		<tr>
			<td>
				{{ user.username }}
			</td>
			<td>
				{{ user.email }}
			</td>
			<td>
				{{ user.reg_time }}
			</td>
			<td>
				<a href="{{ url_for('profile', username=user.username) }}" class="view-link">Edit</a>
				<span> </span>
				<a href="{{ url_for('del_user', id=user.id) }}" class="view-link">Delete</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<a class="toggle-link" href="#new-project"><i class="icon-plus"></i> New User</a>
<form id="new-project" class="form-horizontal hidden" method="post">
	{{ form.csrf_token }}
	<fieldset>
		<legend>New User</legend>
		<div class="control-group">
			<label class="control-label" for="username">Username</label>
			<div class="controls">
				{{ form.username(class_="input-xlarge") }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				{{ form.email(class_="input-xlarge") }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				{{ form.password(class_="input-xlarge") }}
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Create</button> <button class="btn">Cancel</button>
		</div>
	</fieldset>
</form>
{% endblock %}